<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header>
        <h1> Accueil </h1>
    </header>

    <hr>

    <main>
        <nav>
            <a th:href="@{/list}"> Liste des étudiants </a>
            <br>
            <a th:href="@{/add}"> Inscrire un étudiant </a>
            <br>
            <a th:href="@{/resultatRechercheEtudiant.html}"> Rechercher un étudiant </a>
        </nav>
    </main>

    <footer>

    </footer>

</body>

</html>