<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header>
        <h1> Détail de l'étudiant </h1>
    </header>

    <hr>

    <main>
        <p> <strong> Nom :</strong> <span th:text="${nomStudent.lastname}"> </span></p>
        <p> <strong> Prénom :</strong>  <span th:text="${nomStudent.firstname}"> </span></p>
        <p> <strong>  Age :</strong> <span th:text="${nomStudent.age}"> </span></p>
        <p> <strong>  Email :</strong> <span th:text="${nomStudent.email}"> </span></p>
        <a th:href="@{/list}"> < </a>
    </main>
    <footer>

    </footer>

</body>

</html>